<%= simple_form_for [@channel, @product] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :image, disabled: true %>
    <%= f.input :price, disabled: true %>
    <%= f.input :link, disabled: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
