<p id="notice"><%= notice %></p>

<p>
  <strong>Channel:</strong>
  <%= @product.channel.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Token:</strong>
  <%= @product.token %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Link:</strong>
  <%= @product.link %>
</p>

<%= link_to 'Edit', edit_channel_product_path(@channel, @product) %> |
<%= link_to 'Back', channel_products_path %>
